<div class="form">
<%= error_messages_for :kanji %>

<fieldset>
<legend><%= t('kanjis.new_sentence') %></legend>

<% form_for @kanji do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('create') } %>
<% end %>

<div class="links">
		<p><%= link_to t('back'), kanjis_path, :class=>"link" %></p>
</div>

</fieldset>
</div>