<div class="form">
<%= error_messages_for :classroom %>

<fieldset>
<legend><%= t('classrooms.new') %></legend>

<% form_for(@classroom) do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('create') } %>
<% end %>

<%= link_to t('back'), classrooms_path, :class=>"link" %>
</fieldset>
</div>
