<div class="form">
<%= error_messages_for :glossary %>

<fieldset>
<legend><%= t('glossaries.new') %></legend>

<% semantic_form_for @glossary do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('create') } %>
<% end %>

<div class="links">
		<p><%= link_to t('back'), glossaries_path, :class=>"link" %></p>
</div>

</fieldset>
</div>