<div class="form">
<%= error_messages_for :person %>
<fieldset>
<legend>新しい<%= params[:status] %></legend>
<% form_for(@person) do |f| %>
  <%= render :partial => "form", :locals => { :f=>f, :status=>params[:status], :label_text=>"Create" } %>
<% end %>

<%= link_to 'Back', @person.status==nil ? people_path : @person.status==1 ? teachers_path : students_path %>
</fieldset>
</div>