<table cellpadding="0" cellspacing="0">
	<% @keys.each do |key| %>
		<% @course_groups[key].each do |course| %>
		  <tr>
		  	<label>
			  	<td>
				    <%= check_box_tag "student[course_ids][]", course.id, @student.courses.include?(course) %>
				    <%= course.name %>
				  </td>
		  	</label>
		  </tr>
		<% end %>
	<% end %>
</table>