<strong><%= t('courses.title') %></strong>
<p>
	<table cellpadding="1" cellspacing="1">
	  <tr>
	    <td>
        <% if add_enter %>&nbsp;<% end %>
	    </td>
	  </tr>
    <% @student.courses.each do |course| %>
		  <tr>
		  	<label>
		    <td>
				  <%= check_box_tag "student[course_ids][]", course.id, @student.courses.include?(course), :disabled=>true %>
				</td>
				<td>  
				  <%= course.name %>
				</td>
				</label>
			</tr>
	  <% end %>
	</table>
</p>