<strong>クラス</strong>
<p>
	<table>
		<% @attendance_groups.sort.each do |day,attendance_group| %>
		  <tr>
		    <td colspan="3">
		      <strong><%= attendance_group[0].klass.date.strftime("%x") %>: <%= attendance_group[0].klass.date.strftime("%A") %><br/></strong>
		    </td>
		  </tr>
			<% attendance_group.sort_by{|e| e.klass.start_time}.each do |attendance| %>
			  <tr>
	        <%= render :partial=>"show_klass", :locals=>{ :attendance=>attendance } %>
				</tr>
			<% end %>
		<% end %>
	</table>
</p>

