.border_xtras {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.global_width { width: 300px; }
.label_mixin {
  width: 140px;
  text-align: right;
  margin-right: 0.5em;
}
.numeric_mixin { width: 10em; }
div.reservable form.user fieldset.inputs ol li fieldset ol { padding: 0; }
div.reservable form.user fieldset.buttons { padding-left: 0; }
form.comment fieldset.inputs ol li label { display: none; }
form.todo fieldset.buttons { margin-top: 5px; }
form.formtastic fieldset.buttons { padding-left: 145px; }
form.formtastic fieldset ol li { margin-bottom: 0px; }
form.formtastic fieldset.inputs ol .subjects { padding-left: 145px; }
form.formtastic fieldset.inputs ol .subjects label {
  color: red;
  padding: 2px 0 0 2px;
  float: left;
  width: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
form.formtastic fieldset.inputs ol .subjects label.bug { background: red; }
form.formtastic fieldset.inputs ol .subjects label.spelling { background: orange; }
form.formtastic fieldset.inputs ol .subjects label.feature { background: green; }
form.formtastic fieldset.inputs ol .subjects input { float: left; }
form.formtastic fieldset.inputs ol .subjects span.text {
  margin-left: 2px;
  float: left;
  font-weight: bold;
}
form.formtastic fieldset.inputs ol li { margin-bottom: 5px; }
form.formtastic fieldset.inputs ol li label {
  width: 140px;
  text-align: right;
  margin-right: 0.5em;
}
form.formtastic fieldset.inputs ol li p.inline-hints {
  color: #9c9c9c;
  font-size: 10px;
  font-style: italic;
  margin-left: 145px;
}
form.formtastic fieldset.inputs ol li.boolean label {
  padding-left: 144px;
  width: 410px;
  text-align: left;
}
form.formtastic fieldset.inputs ol li.radio fieldset legend span.label {
  width: 140px;
  text-align: right;
  margin-right: 0.5em;
}
form.formtastic fieldset.inputs ol li.radio fieldset ol li label { text-align: left; }
form.formtastic fieldset.inputs ol li.check_boxes fieldset ol li { margin-left: 0.8em; }
form.formtastic fieldset.inputs ol li.check_boxes fieldset ol li label { text-align: left; }
form.formtastic fieldset.inputs ol span.horizontal li.radio fieldset ol li {
  float: left;
  margin-left: 5px;
}
form.formtastic fieldset.inputs ol li.text textarea {
  width: 300px;
  height: 70px;
  resize: none;
}
form.formtastic fieldset.inputs ol li.numeric input { width: 10em; }
form.formtastic fieldset.inputs ol li.string input { width: 300px; }
form.formtastic fieldset.inputs ol li.string input.numeric { width: 10em; }
form.formtastic fieldset.inputs ol li.password input { width: 300px; }
form.formtastic fieldset.inputs ol li.datetime fieldset legend span.label { width: 140px; }
form.formtastic fieldset.inputs ol li.datetime fieldset ol {
  text-align: right;
  padding-left: 146px;
}
form.formtastic fieldset.inputs ol li.date fieldset legend span.label { width: 140px; }
form.formtastic fieldset.inputs ol li.date fieldset ol {
  text-align: right;
  padding-left: 146px;
}
