/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset ol li.text textarea { width:50%; }
form.formtastic fieldset ol li.string input { width:50%; }

form.formtastic fieldset ol li.date{
	margin-left: 10px;
}
form.formtastic fieldset ol li.radio fieldset ol li label { margin-left: 10px; float:none; width:100%; text-align: left; }
form.formtastic fieldset ol li.radio fieldset legend span.label{ width: 250px; text-align: right; }
form.formtastic fieldset ol li.check_boxes fieldset legend span.label{ width: 250px; text-align: right; }
form.formtastic fieldset ol li.check_boxes fieldset ol li label { margin-left: 10px; float:none; width:100%; text-align: left; }
form.formtastic fieldset ol li.date fieldset legend span.label{ width: 240px; text-align: right; }

form.formtastic fieldset ol li fieldset legend {
	background: #efe;
	border: 0;	
}

form.comment fieldset ol li.text label{ display: none; }
form.comment fieldset ol li.text textarea { width:30%; }
form.comment fieldset.buttons { padding-left: 0; }