.border_xtras {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.global_width { width: 300px; }
.label_mixin {
  width: 140px;
  text-align: right;
  margin-right: 0.5em;
}
.numeric_mixin { width: 10em; }
div.reservable form.user fieldset.inputs ol li fieldset ol { padding: 0; }
div.reservable form.user fieldset.buttons { padding-left: 0; }
td#teacher fieldset.inputs {
  float: left;
  margin-top: 1px;
}
td#teacher input.confirmed {
  color: green;
  font-weight: bold;
}
td#teacher input.taught {
  color: green;
  font-weight: bold;
}
td#teacher input.declined {
  color: red;
  font-weight: bold;
}
td#teacher input.canceled {
  color: red;
  font-weight: bold;
}
td#teacher input.unconfirmed {
  color: magenta;
  font-weight: bold;
}
td#teacher input.untaught {
  color: magenta;
  font-weight: bold;
}
form.comment fieldset.inputs ol li label { display: none; }
form.todo fieldset.buttons { margin-top: 5px; }
form.user fieldset.inputs ol div#teacher_cost fieldset.inputs ol span#cost li {
  width: 7em;
  float: left;
}
form.user fieldset.inputs ol div#teacher_cost fieldset.inputs ol span#cost li label {
  float: right;
  width: 3em;
}
form.user fieldset.inputs ol div#teacher_cost fieldset.inputs ol span#cost li input { width: 3em; }
form.user fieldset.inputs ol div#teacher_cost fieldset.inputs ol span#cost li ul.errors { margin: 0.3em 0 0 0; }
form.user fieldset.inputs ol div#teacher_cost fieldset.inputs ol span#course li { width: 10em; }
form.user fieldset.inputs ol div#teacher_cost fieldset.inputs ol span#course li label { width: 10em; }
form.user fieldset.inputs ol fieldset.inputs ol {
  padding: 0;
  margin: 0 0 0 0.9em;
}
form.user fieldset.inputs ol fieldset.inputs ol li.radio fieldset ol li { float: left; }
form.user fieldset.inputs ol fieldset.inputs ol li.radio fieldset ol li label {
  padding: 0;
  margin: 0 0 0 0.2em;
}
form.user fieldset.inputs ol fieldset.inputs ol li.boolean {
  width: 2em;
  float: left;
}
form.user fieldset.inputs ol fieldset.inputs ol li.boolean label {
  padding: 0;
  margin: 0;
  width: 2em;
}
form.user fieldset.inputs ol fieldset.inputs ol span#klass li.string {
  margin-right: 14em;
  float: right;
}
form.user fieldset.inputs ol fieldset.inputs ol span#klass li.string input {
  background: #eeffee;
  border: 0;
  color: #000000;
}
form.formtastic fieldset.buttons { padding-left: 0; }
form.formtastic fieldset.buttons ol li.normal { padding: 0.5em 0 0 1.2em; }
form.formtastic fieldset.buttons ol li { padding-left: 145px; }
form.formtastic fieldset ol li { margin-bottom: 0px; }
form.formtastic fieldset.inputs ol .subjects { padding-left: 145px; }
form.formtastic fieldset.inputs ol .subjects label {
  border: 1px solid black;
  padding: 2px 0 0 2px;
  float: left;
  width: 97px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
form.formtastic fieldset.inputs ol .subjects label.bug { background: red; }
form.formtastic fieldset.inputs ol .subjects label.spelling { background: orange; }
form.formtastic fieldset.inputs ol .subjects label.feature { background: green; }
form.formtastic fieldset.inputs ol .subjects input { float: left; }
form.formtastic fieldset.inputs ol .subjects span.text {
  margin-left: 2px;
  float: left;
  font-weight: bold;
}
form.formtastic fieldset.inputs ol li { margin-bottom: 5px; }
form.formtastic fieldset.inputs ol li label {
  width: 140px;
  text-align: right;
  margin-right: 0.5em;
}
form.formtastic fieldset.inputs ol li p.inline-hints {
  color: #9c9c9c;
  font-size: 10px;
  font-style: italic;
  margin-left: 145px;
}
form.formtastic fieldset.inputs ol li ul.errors { margin-left: 12.2em; }
form.formtastic fieldset.inputs ol li.boolean label {
  padding-left: 144px;
  width: 410px;
  text-align: left;
}
form.formtastic fieldset.inputs ol li.radio fieldset legend span.label {
  width: 140px;
  text-align: right;
  margin-right: 0.5em;
}
form.formtastic fieldset.inputs ol li.radio fieldset ol li label { text-align: left; }
form.formtastic fieldset.inputs ol li.check_boxes fieldset ol li { margin-left: 0.8em; }
form.formtastic fieldset.inputs ol li.check_boxes fieldset ol li label { text-align: left; }
form.formtastic fieldset.inputs ol span.horizontal li.radio fieldset legend { position: absolute; }
form.formtastic fieldset.inputs ol span.horizontal li.radio fieldset ol li {
  float: left;
  margin: 0.4em 0 1em 0.6em;
}
form.formtastic fieldset.inputs ol li.text textarea {
  width: 300px;
  height: 70px;
  resize: none;
}
form.formtastic fieldset.inputs ol li.numeric input { width: 10em; }
form.formtastic fieldset.inputs ol li.string input { width: 300px; }
form.formtastic fieldset.inputs ol li.string input.numeric { width: 10em; }
form.formtastic fieldset.inputs ol li.string input.non-japanese { ime-mode: disabled; }
form.formtastic fieldset.inputs ol li.password input { width: 300px; }
form.formtastic fieldset.inputs ol li.datetime fieldset legend { position: absolute; }
form.formtastic fieldset.inputs ol li.datetime fieldset legend span.label { width: 140px; }
form.formtastic fieldset.inputs ol li.datetime fieldset ol {
  text-align: right;
  padding-left: 146px;
}
form.formtastic fieldset.inputs ol li.date fieldset legend { position: absolute; }
form.formtastic fieldset.inputs ol li.date fieldset legend span.label { width: 140px; }
form.formtastic fieldset.inputs ol li.date fieldset ol {
  text-align: right;
  padding-left: 146px;
}
