html {
  color: #000000;
  background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before { content: ''; }
q:after { content: ''; }
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select { *font-size: 100%; }
legend { color: #000000; }
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
select, input, button, textarea { font: 99% arial, helvetica, clean, sans-serif; }
table {
  font-size: inherit;
  font: 100%;
}
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.border_xtras {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.shadow_xtras {
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
}
.menu_xtras {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
}
.text_xtras_big { text-shadow: 0px 4px 4px #000000; }
.text_xtras_small { text-shadow: 0px 2px 2px #000000; }
.global_width {
  width: 750px;
  margin: 20px auto 25px auto;
  padding: 20px 20px;
}
.main_width { width: 575px; }
.side_width { width: 165px; }
.global_a {
  text-decoration: none;
  color: #4b7399;
  padding: 0 1px 0 1px;
  font-size: 10px;
}
.global_a:hover {
  background: #4b7399;
  color: #eeffee;
  padding: 0 1px 0 1px;
}
.flash_mixin {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  color: #ccddcc;
  width: 570px;
  margin: 0 0 10px 0;
  padding: 5px;
}
.fieldset_basic_mixin {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid;
  background: #eeffee;
  padding: 10px;
  margin-top: 5px;
}
.legend_basic_mixin {
  text-shadow: 0px 4px 4px #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #222266;
  font: small-caps 14px/14px serif;
  color: #ccddcc;
  background: #aabbaa;
  padding: 0.2em 1em;
}
.global_intro {
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  border: 1px solid #7f9db9;
}
.global_intro:hover { background: #f5ffee; }
.global_gallery a:hover { background: #eeffee; }
.global_gallery a img {
  border: 1px solid #000000;
  float: left;
}
.global_gallery a img:hover { border: 1px solid #eeffee; }
.legend_link a { color: #ccddcc; }
.legend_link a:hover {
  background: #aabbaa;
  color: #ffffff;
}
.header_mixin {
  color: #222266;
  border-bottom: 3px dotted #aabbaa;
}
.header_mixin a { font: 18px sans-serif; }
.header_mixin a:hover { color: #eeffee; }
.table_cell:hover { background: #eeffee; }
.table_cell td { padding: 0 3px 0 3px; }
.side_container {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  padding: 5px 5px 7px 5px;
  background: #ffffff;
  margin-top: 16px;
}
.side_container:hover { background: #eeffee; }
.subject_mixin {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
.todo_mixin .todo_container { margin-bottom: 10px; }
.todo_mixin .todo_container .points {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  background: white;
  border: 2px inset;
  padding: 5px;
  margin-top: 5px;
}
.todo_mixin .todo_container .contents_container {
  float: left;
  width: 400px;
  margin-left: 5px;
}
.todo_mixin .todo_container .contents_container .contents {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid;
  padding: 5px 5px 18px 5px;
}
.todo_mixin .todo_container .contents_container .contents:hover { background: #f5ffee; }
.todo_mixin .todo_container .contents_container .contents .header {
  margin: 0 0 3px 0;
  float: left;
  font-weight: normal;
}
.todo_mixin .todo_container .contents_container .contents .header img { float: left; }
.todo_mixin .todo_container .contents_container .contents .header .title {
  float: left;
  border: 0;
  margin: 0 0 0 5px;
  width: 340px;
}
.todo_mixin .todo_container .contents_container .contents .header .title a { font-size: 16px; }
.todo_mixin .todo_container .contents_container .contents .header span.creator {
  margin: 0 0 0 5px;
  font-size: 10px;
  font-style: italic;
}
.todo_mixin .todo_container .contents_container .links {
  margin-top: 3px;
  float: right;
}
.todo_mixin .todo_container .contents_container .bug {
  background: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
.todo_mixin .todo_container .contents_container .spelling {
  background: orange;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
.todo_mixin .todo_container .contents_container .feature {
  background: green;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
.todo_mixin .todo_container .contents_container .comments {
  float: right;
  font-size: 10px;
  font-style: italic;
}
html { background: #4b7399; }
body { font: normal 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }
a {
  text-decoration: none;
  color: #4b7399;
  padding: 0 1px 0 1px;
  font-size: 10px;
}
a:hover {
  background: #4b7399;
  color: #eeffee;
  padding: 0 1px 0 1px;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
#container {
  width: 750px;
  margin: 20px auto 25px auto;
  padding: 20px 20px;
}
#container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#container #notice {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  color: #ccddcc;
  width: 570px;
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: #336633;
}
#container #error {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  color: #ccddcc;
  width: 570px;
  margin: 0 0 10px 0;
  padding: 5px;
  background-color: #660000;
  color: #ffffff;
}
#container #banner {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  text-shadow: 0px 4px 4px #000000;
  background: #aabbaa;
  margin: 0;
  padding: 3px 0 5px 0;
  font: small-caps 15px/15px serif;
  text-align: center;
}
#container #banner ul#nav li {
  float: left;
  width: 10em;
}
#container #banner ul#nav li a { color: #ccddcc; }
#container #banner ul#nav li a:hover {
  background: #aabbaa;
  color: #ffffff;
}
#container #banner ul#nav li a {
  font-size: 16px;
  width: 10em;
  text-decoration: none;
}
#container #banner ul#nav li:hover ul {
  background: #aabbaa;
  left: auto;
  border-bottom: 2px solid;
}
#container #banner ul#nav li ul {
  position: absolute;
  width: 10em;
  left: -999em;
  padding-bottom: 3px;
}
#container #right_column {
  width: 165px;
  float: right;
  font-size: 10px;
}
#container #right_column #user_nav {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  padding: 5px 5px 7px 5px;
  background: #ffffff;
  margin-top: 16px;
}
#container #right_column #user_nav:hover { background: #eeffee; }
#container #right_column #user_nav .commands ul {
  padding: 4px 0 4px 0;
  float: left;
  width: 110px;
  background: #4b7399;
  overflow: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  text-shadow: 0px 2px 2px #000000;
}
#container #right_column #user_nav .commands ul li {
  float: left;
  margin-left: 5px;
}
#container #right_column #user_nav .commands ul li a { color: #ccddcc; }
#container #right_column #user_nav .commands ul li a:hover {
  color: #ffffff;
  background: #4b7399;
}
#container #right_column #user_nav img { float: right; }
#container #right_column #user_nav .info {
  margin-top: 8px;
  float: left;
  text-align: right;
  width: 100px;
}
#container #right_column #beta_testers {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  padding: 5px 5px 7px 5px;
  background: #ffffff;
  margin-top: 16px;
  text-align: right;
}
#container #right_column #beta_testers:hover { background: #eeffee; }
#container #right_column #beta_testers .title {
  font-weight: bold;
  color: #222266;
}
#container #main {
  width: 575px;
  float: left;
}
#container #main .form fieldset.form {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid;
  background: #eeffee;
  padding: 10px;
  margin-top: 5px;
}
#container #main .form fieldset.form legend.form {
  text-shadow: 0px 4px 4px #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #222266;
  font: small-caps 14px/14px serif;
  color: #ccddcc;
  background: #aabbaa;
  padding: 0.2em 1em;
}
#container #main .form fieldset.form .intro {
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  border: 1px solid #7f9db9;
  margin: 0.4em 0 1em 0;
}
#container #main .form fieldset.form .intro:hover { background: #f5ffee; }
#container #main .form #update_container #text_message {
  width: 400px;
  background: white;
  border: 2px dashed;
  padding: 5px;
  float: left;
}
#container #main .form #update_container .right_column {
  float: left;
  width: 120px;
  text-align: right;
}
#container #main .form #update_container .right_column input { margin-bottom: 10px; }
#container #main .show fieldset.show {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid;
  background: #eeffee;
  padding: 10px;
  margin-top: 5px;
}
#container #main .show fieldset.show legend {
  text-shadow: 0px 4px 4px #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #222266;
  font: small-caps 14px/14px serif;
  color: #ccddcc;
  background: #aabbaa;
  padding: 0.2em 1em;
}
#container #main .show fieldset.show .intro {
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  border: 1px solid #7f9db9;
}
#container #main .show fieldset.show .intro:hover { background: #f5ffee; }
#container #main .show fieldset.show fieldset.gallery {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #7f9db9;
  margin: 10px 0 0 0;
  padding: 5px;
  width: 225px;
  float: right;
}
#container #main .show fieldset.show fieldset.gallery:hover { background: #f5ffee; }
#container #main .show fieldset.show fieldset.gallery legend a { color: #ccddcc; }
#container #main .show fieldset.show fieldset.gallery legend a:hover {
  background: #aabbaa;
  color: #ffffff;
}
#container #main .show fieldset.show fieldset.gallery a:hover { background: #eeffee; }
#container #main .show fieldset.show fieldset.gallery a img {
  border: 1px solid #000000;
  float: left;
}
#container #main .show fieldset.show fieldset.gallery a img:hover { border: 1px solid #eeffee; }
#container #main .show fieldset.show .info {
  margin-top: 15px;
  float: left;
}
#container #main .show fieldset.show .info span.category { font-weight: bold; }
#container #main .show fieldset.show .info .applicants { margin-top: 5px; }
#container #main .show fieldset.show .info .apply { margin-top: 5px; }
#container #main .show fieldset.show .pairs { font-size: 1.1em; }
#container #main .show fieldset.show .pairs .left_column {
  width: 12em;
  float: left;
  text-align: right;
  padding-right: 0.4em;
  border-right: 0.1em solid;
  margin: 0.3em 0 0.3em 0;
}
#container #main .show fieldset.show .pairs .left_column .left {
  padding: 0.3em 0 0.3em 0.2em;
  background: #ccddcc;
}
#container #main .show fieldset.show .pairs .right_column {
  width: 28em;
  float: left;
  padding-left: 0.4em;
  margin: 0.3em 0 0.3em 0;
}
#container #main .show fieldset.show .pairs .right_column .right {
  padding: 0.3em 0 0.3em 0.2em;
  background: #dfeedf;
}
#container #main .show fieldset.show .pairs .right_column .right a { font-size: 1em; }
#container #main .show fieldset.show .pairs .right_column .right_message {
  padding-left: 0.2em;
  background: #dfeedf;
}
#container #main .show fieldset.show .pairs .right_column .right_message a { font-size: 1em; }
#container #main .show fieldset.show hr {
  border-top: 1px dashed #7f9db9;
  background-color: #eeffee;
  color: #eeffee;
  height: 0;
  margin: 0;
  padding: 0;
}
#container #main .show fieldset.show ul#comments {
  margin: 0px;
  padding: 0px;
}
#container #main .show fieldset.show ul#comments li {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px dashed #7f9db9;
}
#container #main .show fieldset.show ul#comments li:hover { background: #f5ffee; }
#container #main .show fieldset.show ul#comments li .comment_container {
  float: left;
  margin-left: 10px;
  width: 500px;
}
#container #main .show fieldset.show ul#comments li .comment_container .action_container { float: right; }
#container #main .show fieldset.show ul#comments li .comment_container .action_container .links a { font-weight: normal; }
#container #main .show fieldset.show ul#comments li .comment_container a { font-weight: bold; }
#container #main .show fieldset.show ul#comments li .comment_container .time_ago {
  color: #9c9c9c;
  font-size: 10px;
  padding-bottom: 3px;
}
#container #main .show fieldset.show ul#comments img { float: left; }
#container #main .show fieldset.show form#new_comment {
  margin-top: 10px;
  width: 350px;
}
#container #main .show fieldset.show form#new_comment textarea {
  width: 300px;
  height: 46px;
  resize: none;
}
#container #main .show fieldset.show form#new_comment #add_button_container {
  float: right;
  text-align: right;
  width: 100px;
}
#container #main .show fieldset.show .links { margin-top: 5px; }
#container #main .show fieldset.show #photo_gallery a:hover { background: #eeffee; }
#container #main .show fieldset.show #photo_gallery a img {
  border: 1px solid #000000;
  float: left;
}
#container #main .show fieldset.show #photo_gallery a img:hover { border: 1px solid #eeffee; }
#container #main .show fieldset.show #photo_container { float: left; }
#container #main .show fieldset.show #photo_container #photo a:hover { background: #eeffee; }
#container #main .show fieldset.show #photo_container #photo a img {
  border: 1px solid #000000;
  float: left;
}
#container #main .show fieldset.show #photo_container #photo a img:hover { border: 1px solid #eeffee; }
#container #main .show fieldset.show #caption {
  margin-top: 5px;
  font-style: italic;
  float: left;
}
#container #main .show fieldset.show #uploader {
  margin-top: 5px;
  font-style: italic;
  float: right;
  font-size: 10px;
}
#container #main .show fieldset.show .todo_container { margin-bottom: 10px; }
#container #main .show fieldset.show .todo_container .points {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  background: white;
  border: 2px inset;
  padding: 5px;
  margin-top: 5px;
}
#container #main .show fieldset.show .todo_container .contents_container {
  float: left;
  width: 400px;
  margin-left: 5px;
}
#container #main .show fieldset.show .todo_container .contents_container .contents {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid;
  padding: 5px 5px 18px 5px;
}
#container #main .show fieldset.show .todo_container .contents_container .contents:hover { background: #f5ffee; }
#container #main .show fieldset.show .todo_container .contents_container .contents .header {
  margin: 0 0 3px 0;
  float: left;
  font-weight: normal;
}
#container #main .show fieldset.show .todo_container .contents_container .contents .header img { float: left; }
#container #main .show fieldset.show .todo_container .contents_container .contents .header .title {
  float: left;
  border: 0;
  margin: 0 0 0 5px;
  width: 340px;
}
#container #main .show fieldset.show .todo_container .contents_container .contents .header .title a { font-size: 16px; }
#container #main .show fieldset.show .todo_container .contents_container .contents .header span.creator {
  margin: 0 0 0 5px;
  font-size: 10px;
  font-style: italic;
}
#container #main .show fieldset.show .todo_container .contents_container .links {
  margin-top: 3px;
  float: right;
}
#container #main .show fieldset.show .todo_container .contents_container .bug {
  background: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
#container #main .show fieldset.show .todo_container .contents_container .spelling {
  background: orange;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
#container #main .show fieldset.show .todo_container .contents_container .feature {
  background: green;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
#container #main .show fieldset.show .todo_container .contents_container .comments {
  float: right;
  font-size: 10px;
  font-style: italic;
}
#container #main #list {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 5px #000000;
  -moz-box-shadow: 0px 2px 5px #000000;
  -webkit-box-shadow: 0px 2px 5px #000000;
  background: #eeffee;
  padding: 10px;
  margin-top: 16px;
}
#container #main #list h1 {
  color: #222266;
  border-bottom: 3px dotted #aabbaa;
  font: 18px sans-serif;
}
#container #main #list h1 a { font: 18px sans-serif; }
#container #main #list h1 a:hover { color: #eeffee; }
#container #main #list h2 {
  color: #222266;
  border-bottom: 3px dotted #aabbaa;
  font: 14px sans-serif;
}
#container #main #list h2 a { font: 18px sans-serif; }
#container #main #list h2 a:hover { color: #eeffee; }
#container #main #list .intro {
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  border: 1px solid #7f9db9;
}
#container #main #list .intro:hover { background: #f5ffee; }
#container #main #list table {
  border-collapse: separate;
  border-spacing: 1px;
  margin-top: 10px;
  font-size: 11px;
}
#container #main #list table tr th {
  font-weight: bold;
  background: #aabbaa;
  text-align: center;
  padding: 0 3px 0 3px;
}
#container #main #list table tr td span.highlight { font-weight: bold; }
#container #main #list table tr td.non-read { font-weight: bold; }
#container #main #list table tr.list-line-odd { background: #ccddcc; }
#container #main #list table tr.list-line-odd:hover { background: #eeffee; }
#container #main #list table tr.list-line-odd td { padding: 0 3px 0 3px; }
#container #main #list table tr.list-line-even { background: #dfeedf; }
#container #main #list table tr.list-line-even:hover { background: #eeffee; }
#container #main #list table tr.list-line-even td { padding: 0 3px 0 3px; }
#container #main #list table.course tr th { padding: 0 2px 0 2px; }
#container #main #list table.course tr th.title { font-size: 14px; }
#container #main #list table.course tr th.subtitle { color: #666666; }
#container #main #list #links { margin-top: 1em; }
#container #main #list form .sorting {
  margin: 10px 0 10px 110px;
  padding: 0;
}
#container #main #list .todo_container { margin-bottom: 10px; }
#container #main #list .todo_container .points {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  background: white;
  border: 2px inset;
  padding: 5px;
  margin-top: 5px;
}
#container #main #list .todo_container .contents_container {
  float: left;
  width: 400px;
  margin-left: 5px;
}
#container #main #list .todo_container .contents_container .contents {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid;
  padding: 5px 5px 18px 5px;
}
#container #main #list .todo_container .contents_container .contents:hover { background: #f5ffee; }
#container #main #list .todo_container .contents_container .contents .header {
  margin: 0 0 3px 0;
  float: left;
  font-weight: normal;
}
#container #main #list .todo_container .contents_container .contents .header img { float: left; }
#container #main #list .todo_container .contents_container .contents .header .title {
  float: left;
  border: 0;
  margin: 0 0 0 5px;
  width: 340px;
}
#container #main #list .todo_container .contents_container .contents .header .title a { font-size: 16px; }
#container #main #list .todo_container .contents_container .contents .header span.creator {
  margin: 0 0 0 5px;
  font-size: 10px;
  font-style: italic;
}
#container #main #list .todo_container .contents_container .links {
  margin-top: 3px;
  float: right;
}
#container #main #list .todo_container .contents_container .bug {
  background: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
#container #main #list .todo_container .contents_container .spelling {
  background: orange;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
#container #main #list .todo_container .contents_container .feature {
  background: green;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  border: 1px solid;
  padding: 0px 3px 0px 3px;
  font-weight: bold;
}
#container #main #list .todo_container .contents_container .comments {
  float: right;
  font-size: 10px;
  font-style: italic;
}
#container #main #footer {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
  color: #ffffff;
}
.fieldWithErrors {
  padding: 4px;
  background-color: red;
}
#errorExplanation {
  width: 400px;
  border: 2px solid black;
  padding: 7px;
  padding-bottom: 12px;
  margin: 10px 0 10px 0;
  background-color: #eeffee;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #aabbaa;
  color: #ffffff;
}
#errorExplanation p {
  color: #000000;
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
}
#errorExplanation ul li {
  font-size: 11px;
  font-style: italic;
  list-style: square;
  margin-left: 15px;
}
