<fieldset class="intro">
<legend><%= t(:already_reserved) %></legend>
<div id="already_reserved">
<% unless @reserved_attendances.empty? %>
  <h2><%= t('header.already_reserved_classes') %></h2>
  <ul>
    <% @reserved_attendances.each do |attendance| %>
      <% if attendance.cancel %>
        <% if can? :edit, attendance %>
          <li class="cancel"><%= attendance.klass.name %></li>
        <% end %>
      <% else %>
        <li><%= attendance.klass.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</div>
</fieldset>

