<div id="top_links">
  <%= link_to image_tag("button.gif"),
  already_confirmed_user_path(@user, :saturday=>today(@saturday)) %>
  <%= link_to t(:confirm), confirm_user_path(@user, :saturday=>today(@saturday)) %>
</div>
