<div class="form">
<fieldset class="form">
<legend class="form">Enlisted Courses</legend>

<% semantic_form_for @user do |f| %>
	<% f.inputs do %>
		<%= f.input :student_courses, :as=>:check_boxes, :label=>false, :collection=>@courses if @status=="student" %>
		<%= f.input :teacher_courses, :as=>:check_boxes, :label=>false, :collection=>@courses if @status=="teacher" %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:update) %>
	<% end %>
<% end %>

<div id="links">
</div>

</fieldset>
</div>