<div class="show">
<fieldset class="show">
<legend><%= @user.name %></legend>

<%= render "student_options" if current_user.role? :student %>
<%= render "teacher_options" if current_user.role? :teacher %>

<%= render @page unless @page.nil? %>

</fieldset>
</div>
