<div class="show">
<fieldset class="show">
<legend><%= @user.name %></legend>

<%= render "student_options" if can? :reserve, @user %>
<%= render "teacher_options" if can? :confirm, @user %>

<%= render @page, :user => @user unless @page.nil? %>

</fieldset>
</div>
