<tr>
	<label>
		<% unit.to_s.split.each do |e| %>
			<td style="font-size: small;" align="left"><%= e %></td>
		<% end %>
		<td style="font-size: small;" id="<%= unit.to_s.gsub( / /, '_' ) %>">
			<% form_for @schedule do |f| %>
				<% fields_for "schedule[scheduled_unit_attributes][]", unit do |ff| %>
					<%= ff.collection_select :unit_id,
						@units, :id, :title,
						{ :include_blank => true },
					  :onchange => 'this.form.submit();' %>
				<% end %>
			<% end %>
		</td>
	</label>
</tr>