<div class="form">
<fieldset class="form">
<legend class="form"><%= t('events.editing') %></legend>

<% semantic_form_for @event do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('update') } %>
<% end %>

<div class="links">
		  <%= link_to t('show'), @event, :class=>"link" %> |
		  <%= link_to t('events.title'), events_path, :class=>"link" %>
		</p>
</div>

</fieldset>
</div>