<div class="form">
<fieldset class="form">
<legend class="form"><%= t('events.new') %></legend>

<% semantic_form_for @event do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('create') } %>
<% end %>

<div class="links">
		<p><%= link_to t('back'), events_path, :class=>"link" %></p>
</div>

</fieldset>
</div>