<p>
  <label for="start_time">Start Time:</label>
  <%= f.time_select :start_time %>
</p>
<p>
  <label for="end_time">End Time:</label>
  <%= f.time_select :end_time %>
</p>
<p>
  <%= f.submit label_text, :class=>"submit" %>
</p>