<div id="list">
<h1><%= t('todos.title') %></h1>

<%= render :partial => 'todo', :collection => @todos, :locals => { :title => true, :links => true } %>

<div class="links">
<p><%= link_to t(:new,:object=>t(:todo)), new_todo_path, :class=>"link" %></p>
</div>
</div>
