<div id="list">
<h1><%= t( 'courses.listing' ) %></h1>

<% mid = Course.count/2 %>
<table>
	<tr>
		<td>
			<table cellpadding="2" cellspacing="1">
			<% index=0 %>
			<% @keys.each do |key| %>
				<% break if index > mid %>
				<% @courses_groups[key].each do |course| %>
					<% index += 1 %>
					<%= render :partial => "list_course_groups",
							:locals => { :key=>key, :index=>index, :course=>course } %>
				<% end %>
			<% end %>
			</table>
		</td>
		<td valign="top">
			<table cellpadding="2" cellspacing="1">
			<% index=0 %>
			<% @keys.each do |key| %>
				<% @courses_groups[key].each do |course| %>
					<% index += 1 %>
					<% if index > mid %>
						<%= render :partial => "list_course_groups",
								:locals => { :key=>key, :index=>index, :course=>course } %>
					<% end %>
				<% end %>
			<% end %>
			</table>
		</td>
	</tr>
</table>

</div>
<br />

<%= link_to t( 'courses.new' ), new_course_path, :class=>"link" %><br />