<div id="list">
<h1><%= t( 'courses.listing' ) %></h1>

<table class="listing">
<% @keys.each_with_index do |key,i| %>
	<% @courses_groups[key].each do |course| %>
		<tr class="<%= i%2==0 ? 'list-line-odd' : 'list-line-even' %>" >
			<%= render course %>
		</tr>
	<% end %>
<% end %> 
</table>

<div id="links">
<% if can? :new, Course %>	
	<%= link_to t(:new,:object=>t(:course)), new_course_path %>
<% end %>
</div>

</div>