<div class="form">
<fieldset class="form">
<legend class="form"><%= t( 'courses.new' ) %></legend>

<div class="intro">
	<%= t('message.asterisk') %>
</div>

<% semantic_form_for @course do |f| %>
  <%= render "form", :f=>f, :label_text=>t(:create) %>
<% end %>

<div id="links">
	<% if can? :index, Course %>
		<%= link_to t(:list,:object=>t('courses.title')), courses_path %>
	<% end %>
</div>

</fieldset>
</div>