<div class="form">
<%= error_messages_for :unit %>

<fieldset>
<legend><%= t('units.new') %></legend>

<% form_for @unit do |f| %>
	<%= render :partial => "form", :locals => { :f=>f, :label_text=>t('create') } %>
<% end %>

<div class="links">
		<p><%= link_to t('back'), units_path, :class=>"link" %></p>
</div>

</fieldset>
</div>