<table cellpadding="0" cellspacing="1", border="0">
  <tr>
    <td class="template-table-title" colspan="2">
    	<%= template_classes[0].course_category+"コース" %>
  	</td>
  </tr>
  <tr>
	  <th class="template-table-topics" rowspan="2">授業</th>
		<th class="template-table-topics" rowspan="2">時間</th>
		<th class="template-table-topics" rowspan="2">ユニット</th>
		<th class="template-table-topics" rowspan="2">部屋</th>
		<th class="template-table-topics" rowspan="2">講師</th>
    <td class="template-table-topics" colspan="8">受講生</td>
  </tr>
  <tr>
    <% 8.times do |no| %>
      <td class="template-table-topics-sub"><%= no+1 %></td>
    <% end %>
  </tr>  
</table>