<h1><%= t( 'template_klasses.listing' ) %></h1>

<% form_for :template_class,
            :url => { :action=>'index' },
            :html => { :method=>'get' } do |f| %>
  <%= select_tag :template_day,
    options_for_select( @days, @template_day ),
    :onchange => "this.form.submit();" %>
<% end %>
<br />

<% @keys = sort_in_mogi_order @template_groups.keys %>
<% @keys.each do |key| %>
  <div id="table">
    <%= render :partial=>"course",
    			:locals=>{
    				:course_klasses => @template_groups[key],
    				:collision => @collision	
    			} %><br />
  </div>
<% end %>

<div id="links">
	<%= link_to t( 'template_klasses.new' ), new_template_class_path( :template_day=>@template_day ), :class=>"link" %><br />
</div>